
    /* 16px = 1 rem*/
    html { font-size: 16px }

    img {
      width: 10%;
    }

    .amendment-title{
      color:green;
      text-align: center;
      font-size: 3rem;
    }

    .amendment-title:hover{
      color: red;
    }

    .amendment-title::first-letter{
      font-size: 0.7rem;
    }
    .document-history{
      background-color: yellow;
    }

    /* nested selector -- selector <p> inside .document-history */
    .document-history p {
      width: 25%
    }

    /* nested selector -- selector <h4> inside .document-history */
    .document-history h4 {
      background-color: papayawhip;
    }

    .amendment-body{
      text-align: center;
    }

    #bill-of-rights{
      font-style: italic;
    }

    [class]{
      font-weight: bold;
      color: orange;
    }

    .highlight {
      background-color: salmon;
    }
